/* general */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Georgia", sans-serif;
  font-size: 17px;
  color: #000000;
}

a {
  color: #000000;
}

/* header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

header nav {
  padding-right: 40px;
}

/* general content */

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.leadstory {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.text {
  margin-top: 20px;
}

/* main */

.content {
  display: flex;
  width: 1250px;
  margin: 0 auto;
  padding-top: 100px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

/* left news column */

.column .large {
  width: 630px;
}

.leadstory .image-content {
  background-image: url("../images/img-story-main.png");
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
}

.leadstory .image-content h1 {
  font-family: Georgia;
  font-weight: bold;
  color: #ffffff;
  margin-left: 20px;
  font-size: 40px;
  text-align: left;
}

.image-content {
  display: flex;
  flex-direction: column;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.story-earth {
  background-image: url("../images/img-story-2.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.story-camera {
  background-image: url("../images/img-story-3.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

/* middle news column */

.column .medium {
  width: 300px;
}

.story-cats {
  background-image: url("../images/img-story-1.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

/*right news column */

.column .small {
  width: 240px;
  display: flex;
}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.news-bites p {
  background-color: WhiteSmoke;
  border-bottom: 1px solid #000000;
  padding: 10px 20px;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  color: DimGray;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  background-color: MediumAquamarine;
  width: 100%;
  height: 300px;
  margin-top: 40px;
  font-family: Verdana;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

footer .title {
  display: inline-block;
  font-family: "Georgia", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border-right: 2px solid #ffffff;
  padding-right: 20px;
}

footer nav {
  display: inline-block;
  padding-left: 15px;
}
